<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
  </article>
  <div class="container"><div class="container"><div class="container">
  <button class="btn btn-primary"> Primary</button>
  <button class="btn btn-secondary"> Secondary</button>
  <button class="btn btn-success"> Success</button>
  <button class="btn btn-danger"> Danger</button>
  <button class="btn btn-warning"> Warning</button>
  <button class="btn btn-info"> Info</button>
  <button class="btn btn-light"> Light</button>
  <button class="btn btn-dark">Dark</button>

  </div></div></div>
</a>
