
$theme-colors: (
  "primary": #bdef53,
  "secondary": #f662d1,
  "success": #d5e3ac,
  "info": red,
  "warning": red,
  "danger": red,
  "light": #96dff4,
  "dark": #2d0625
);


$primary:#bdef53;
$secondary: #f662d1;
$success: #d5e3ac;
$light: #96dff4;
$dark: #2d0625;

$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

